@using System.Security.Claims
@using Microsoft.AspNetCore.Http

@if (User.Identity?.Name != null)
{
    <img src="@Avatar" alt=""/>
    <b>You are logged in as: @GivenName @Surname</b>
    <a class="ml-md-auto btn btn-primary"
       href="/Logout"
       target="_top">
        Logout
    </a>
}
else
{
    <a class="ml-md-auto btn btn-primary"
       href="/Login"
       target="_top">
        Login
    </a>
}

@code {
    private ClaimsPrincipal User;
    private string GivenName;
    private string Surname;
    private string Avatar;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        try
        {
            // Set the user to determine if they are logged in
            HttpContextAccessor _httpContextAccessor = new HttpContextAccessor();
            User = _httpContextAccessor.HttpContext?.User;

            var givenName = _httpContextAccessor.HttpContext?.User.FindFirst(ClaimTypes.GivenName);

            GivenName = givenName != null ? givenName.Value : User?.Identity?.Name;

            var surname = _httpContextAccessor.HttpContext?.User.FindFirst(ClaimTypes.Surname);
            Surname = surname != null ? surname.Value : "";

            var avatar = _httpContextAccessor.HttpContext?.User.FindFirst("urn:google:image");

            Avatar = avatar != null ? avatar.Value : "";
        }
        catch (NullReferenceException e)
        {
            Console.WriteLine(e.ToString());
        }
        catch (Exception e)
        {
            Console.WriteLine(e.ToString());
        }
    }

}